:root {
    --primary-color: #c72727;
    --secondary-color: #f99500;
    --light-color: #f3f3f3;
    --dark-color: #333;
    --max-width: 1100px;
  }
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
    background: var(--light-color);
  }
  a {
    color: #333;
    text-decoration: none;
  }
  
  ul {
    list-style: none;
  }
  
  p {
    margin: .5rem 0;
  }
  
  img {
    width: 100%;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Staatliches', cursive;
    margin-bottom: .55rem;
    line-height: 1.3;
  }

  /* utilities */
  .container{
    max-width: var(--max-width);
    margin: auto;
    overflow: hidden;
  }

  .category{
    display: inline-block;
    border-radius: 1rem;
    padding: 0.4rem 0.6rem;
    font-size: 0.7rem;
    color: #fff;
  }

  .category-sport{background: var(--secondary-color);}


  .btn{
    display: inline-block;
    padding: 0.5rem 1rem;
    border: none;
    color: #fff;
    background: var(--dark-color);
  }

  .btn-primary{
    background: var(--primary-color);
  }

  /* Navigation */
  #navbar {
    background: rgb(255, 255, 255);
    position: sticky;
    top: auto;
    /* here shuold be z-index:2; */
  }

  #navbar .container{
    display: grid;
    grid-template-columns: 6fr 3fr 2fr;
    align-items: center;
    padding: 1rem;
  }

  #navbar img{
    width: 180px;
  }

  #navbar ul{
    /* background: chartreuse; */
    /* justify-content: flex-end; */
    justify-self: end;
    display: flex;
  }

  #navbar ul li a{
    padding: 0.8rem;
    font-weight: bold;
  }

  #navbar ul li a.current{
    background: var(--primary-color);
    color: var(--dark-color);
  }

  #navbar ul li a:hover{
    background: var(--light-color);
  color: var(--dark-color);
  }

  #navbar .social{
    /* background: chocolate; */
    justify-self: center;
  }

  #navbar .social i{
    color: #777;
    margin-right: 0.5rem;
  }

  /* Showcase */

  /* with flex */

  /* #showcase{
   height: 50vh;
   
   display: flex;
   flex-direction: column;
   justify-content: center;
   position: relative;
   background: #333;
   
  
  }

  #showcase::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url('../img/featured.jpg') no-repeat center center/cover;
    opacity: 0.4;
    

  }

  #showcase *{
    z-index: 2;
  }

  #showcase .showcase-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    

  }

  #showcase .showcase-content{
    flex: 0.5;
    padding: 3rem;
    color: #fff;
  } */

  /* with flex end */

#showcase{
  background: #333;
  padding: 2rem;
  color: white;
  position: relative;
}

#showcase::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: url('../img/featured.jpg') no-repeat center center/cover;
  opacity: 0.5;
  width: 100%;
  height: 100%;
}

#showcase *{
  z-index: 4;
}

#showcase .showcase-container{

  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-content: center;
  align-items: center;
  height: 50vh;
  

}